@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #858585;
  --color-gray-200: #1b2129;
  --color-darkslategray: #49505a;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-16xl: 35px;
  --gap-lg: 18px;
  --gap-104xl: 123px;

  /* Paddings */
  --padding-30xl: 49px;
  --padding-25xl: 44px;

  /* Border radiuses */
  --br-12xs: 1px;
}
